<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"/>
    <script>
        $(document).ready(
             function() {
                $("#submit").prop('disabled', true);
                $("#departure").change(function() {
                    $("#arrival").load( "/routes/departure?departure=" + $("#departure").val(),
                        function(){
                            if ($("#arrival")[0].options.length == 0 || $("#arrival")[0].options[0].value == "Не Выбрано"){
                                $("#submit").prop('disabled', true);
                            } else {
                                $("#submit").prop('disabled', false);
                            }
                        });
                });
                $("#submit").click(function(){
                    $("#price").load("/routes/price/" + $("#departure").val() + "/" + $("#arrival").val() + "");
                });
             }
        );


    </script>
    <style>
        .selector {
            width:200px;
            height: 30px;
            margin: 5px;
        }
        .right{
            float: right;
        }
        .left{
            float: left;
        }
        .routes{
            width: 500px;
            height: 50px;
        }
        .ok-button{
            position: absolute;
            left: 234px;
            top: 150px;
        }
        .price-label{
            position: absolute;
            left: 234px;
            top: 120px;
        }


    </style>
    <meta charset="UTF-8"/>
    <title>Let`s travel!</title>
</head>
<body>

<h4>Давай уедем куда-нибудь?</h4>
<div class="routes">
    <select id="departure" th:field="*{departure}" class="selector left">
        <option th:each="d : ${departures}"
                th:value="${d.name}"
                th:text="${d.name}">
        </option>
    </select>

    <select id="arrival" th:fragment="arrivalsList" th:field="*{arrival}" class="selector right   ">
        <option th:each="d : ${arrivals}"
                th:value="${d.name}"
                th:text="${d.name}">
        </option>
    </select>

    <button id="submit" class="ok-button">OK</button>
</div>
<div class="price-label">
    Цена: <label id="price" th:fragment="price" th:text="${price}"/>
</div>
</body>
</html>